@icon-account: "\e600";
@icon-address-book: "\e601";
@icon-american-express: "\e602";
@icon-angle-down: "\e603";
@icon-calendar: "\e604";
@icon-cart: "\e605";
@icon-cart2: "\e606";
@icon-checkmark: "\e607";
@icon-collapse: "\e608";
@icon-comment: "\e609";
@icon-comment-reflected: "\e60a";
@icon-compare-01: "\e60b";
@icon-compare-empty: "\e60c";
@icon-compare-full: "\e60d";
@icon-cross: "\e60e";
@icon-da-android: "\e60f";
@icon-da-ios: "\e610";
@icon-da-windows: "\e611";
@icon-delivery-fast: "\e612";
@icon-discover: "\e613";
@icon-down: "\e614";
@icon-download-app: "\e615";
@icon-email: "\e616";
@icon-email2: "\e617";
@icon-envelop: "\e618";
@icon-expand: "\e619";
@icon-facebook: "\e61a";
@icon-facebook2: "\e61b";
@icon-flag: "\e61c";
@icon-free-easy-return: "\e61d";
@icon-gift-card: "\e61e";
@icon-gift-registry: "\e61f";
@icon-googleplus: "\e620";
@icon-google-plus: "\e621";
@icon-grid: "\e622";
@icon-gurantee: "\e623";
@icon-help: "\e624";
@icon-help2: "\e625";
@icon-icon-menu: "\e626";
@icon-info: "\e943";
@icon-list: "\e628";
@icon-location: "\e629";
@icon-long-arrow-down-thick: "\e62a";
@icon-long-arrow-down-thin: "\e62b";
@icon-long-arrow-left: "\e62c";
@icon-long-arrow-left-thin: "\e62d";
@icon-long-arrow-right: "\e62e";
@icon-long-arrow-right-thin: "\e62f";
@icon-long-arrow-up-thick: "\e630";
@icon-long-arrow-up-thin: "\e631";
@icon-mastercard: "\e632";
@icon-menu: "\e931";
@icon-minus: "\e634";
@icon-newsletter-email: "\e635";
@icon-next: "\e636";
@icon-password: "\e637";
@icon-paypal: "\e638";
@icon-personal-information: "\e639";
@icon-pinterest: "\e63a";
@icon-plus: "\e63b";
@icon-pointer-down: "\e63c";
@icon-pointer-left: "\e63d";
@icon-pointer-right: "\e63e";
@icon-pointer-up: "\e63f";
@icon-present: "\e640";
@icon-prev: "\e641";
@icon-printer: "\e642";
@icon-rating: "\e643";
@icon-remove: "\e644";
@icon-rupees: "\e645";
@icon-search: "\e92d";
@icon-search2: "\e647";
@icon-sell-withus: "\e648";
@icon-setting: "\e649";
@icon-star: "\e64a";
@icon-tick: "\e64b";
@icon-trash: "\e64c";
@icon-trash2: "\e64d";
@icon-twitter: "\e64e";
@icon-up: "\e64f";
@icon-update: "\e650";
@icon-user2: "\e651";
@icon-user3: "\e92f";
@icon-visa: "\e652";
@icon-warning: "\e653";
@icon-wishlist: "\e654";
@icon-wishlist-empty: "\e655";
@icon-wishlist-full: "\e656";
@icon-write-review: "\e657";
@icon-your-order: "\e658";
@icon-bell: "\e900";
@icon-price-subscription: "\e901";

@icon-xf-ic-quote: "\e92c";
@icon-xf-ic-quote-02: "\e903";
@icon-xf-lock: "\e904";
@icon-xf-orders-01: "\e946";
@icon-xf-package: "\e906";
@icon-xf-profile: "\e907";
@icon-xf-card-path1: "\e908";
@icon-xf-card-path2: "\e909";
@icon-xf-truck-01-path1: "\e90a";
@icon-xf-truck-01-path2: "\e90b";
@icon-xf-protection-01-path1: "\e90c";
@icon-xf-protection-01-path2: "\e90d";
@icon-xf-support-path1: "\e90e";
@icon-xf-support-path2: "\e90f";
@icon-xf-saved-address: "\e910";
@icon-xf-shopping-cart: "\e92e";
@icon-xf-truck-02: "\e912";
@icon-xf-wish-list: "\e913";

@icon-call-02: "\e914";
@icon-customer-reviews: "\e915";
@icon-invitation: "\e916";
@icon-order-by-sku: "\e917";
@icon-rewards-02: "\e918";
@icon-store-credit: "\e919";
@icon-suport-ticket: "\e91a";

@icon-xf-my-product-reviews: "\e91b";
@icon-xf-my-support-tickets: "\e91c";
@icon-xf-next: "\e91d";
@icon-xf-previous: "\e91e";
@icon-xf-phone: "\e91f";
/*@icon-xf-store-credit: "\e920";*/
@icon-xf-store-credit: "\e919";

@icon-mobile-phone: "\e921";
@icon-xf-whatsapp: "\f232";


@icon-xf-quick-quote: "\e92a";
@icon-xf-quick-quote-search: "\e92b";
@icon-search-thin: "\e932";
@icon-search-tooltip: "\e933";
@icon-compare: "\e925";
@icon-download: "\e936";
@icon-history: "\e937";
@icon-signac: "\e938";

@icon-company-profile: "\e93d";
@icon-my_lists: "\e93a";
@icon-company_structure: "\e93c";
@icon-company_users: "\e93b";
@icon-user_roles_permissions: "\e939";
@icon-facebook3: "\e93f";
@icon-twitter2: "\e942";
@icon-linkedin: "\e93e";
@icon-youtube: "\e940";
@icon-mob-chat: "\e941";
@icon-company_credit: "\e93e";
@icon-rupees: "\e944";
@icon-referral: "\e947";
@icon-xf-my-payment-history: "\e948";
@icon-exp-time: "\e949";
@icon-coupon_copy: "\e94a";
@icon-lightbulb: "\e94b";
@icon-rewards: "\e94c";
@icon-offers: "\e94d";
@icon-testimonial: "\e94e";
@icon-edit: "\e94f";
@icon-light-bulb: "\e950";
@icon-image: "\e951";
@icon-link: "\e952";





.rb-icon-account {
    &:before {
        content: @icon-account;
    }
}
.rb-icon-address-book {
    &:before {
        content: @icon-address-book;
    }
}
.rb-icon-american-express {
    &:before {
        content: @icon-american-express;
    }
}
.rb-icon-angle-down {
    &:before {
        content: @icon-angle-down;
    }
}
.rb-icon-calendar {
    &:before {
        content: @icon-calendar;
    }
}
.rb-icon-cart {
    &:before {
        content: @icon-cart;
    }
}
.rb-icon-cart2 {
    &:before {
        content: @icon-cart2;
    }
}
.rb-icon-checkmark {
    &:before {
        content: @icon-checkmark;
    }
}
.rb-icon-collapse {
    &:before {
        content: @icon-collapse;
    }
}
.rb-icon-comment {
    &:before {
        content: @icon-comment;
    }
}
.rb-icon-comment-reflected {
    &:before {
        content: @icon-comment-reflected;
    }
}
.rb-icon-compare-01 {
    &:before {
        content: @icon-compare-01;
    }
}
.rb-icon-compare-empty {
    &:before {
        content: @icon-compare-empty;
    }
}
.rb-icon-compare-full {
    &:before {
        content: @icon-compare-full;
    }
}
.rb-icon-cross {
    &:before {
        content: @icon-cross;
    }
}
.rb-icon-da-android {
    &:before {
        content: @icon-da-android;
    }
}
.rb-icon-da-ios {
    &:before {
        content: @icon-da-ios;
    }
}
.rb-icon-da-windows {
    &:before {
        content: @icon-da-windows;
    }
}
.rb-icon-delivery-fast {
    &:before {
        content: @icon-delivery-fast;
    }
}
.rb-icon-discover {
    &:before {
        content: @icon-discover;
    }
}
.rb-icon-down {
    &:before {
        content: @icon-down;
    }
}
.rb-icon-download-app {
    &:before {
        content: @icon-download-app;
    }
}
.rb-icon-email {
    &:before {
        content: @icon-email;
    }
}
.rb-icon-email2 {
    &:before {
        content: @icon-email2;
    }
}
.rb-icon-envelop {
    &:before {
        content: @icon-envelop;
    }
}
.rb-icon-expand {
    &:before {
        content: @icon-expand;
    }
}
.rb-icon-facebook {
    &:before {
        content: @icon-facebook;
    }
}
.rb-icon-facebook2 {
    &:before {
        content: @icon-facebook2;
    }
}
.rb-icon-flag {
    &:before {
        content: @icon-flag;
    }
}
.rb-icon-free-easy-return {
    &:before {
        content: @icon-free-easy-return;
    }
}
.rb-icon-gift-card {
    &:before {
        content: @icon-gift-card;
    }
}
.rb-icon-gift-registry {
    &:before {
        content: @icon-gift-registry;
    }
}
.rb-icon-googleplus {
    &:before {
        content: @icon-googleplus;
    }
}
.rb-icon-google-plus {
    &:before {
        content: @icon-google-plus;
    }
}
.rb-icon-grid {
    &:before {
        content: @icon-grid;
    }
}
.rb-icon-gurantee {
    &:before {
        content: @icon-gurantee;
    }
}
.rb-icon-help {
    &:before {
        content: @icon-help;
    }
}
.rb-icon-help2 {
    &:before {
        content: @icon-help2;
    }
}
.rb-icon-icon-menu {
    &:before {
        content: @icon-icon-menu;
    }
}
.rb-icon-info {
    &:before {
        content: @icon-info;
    }
}
.rb-icon-list {
    &:before {
        content: @icon-list;
    }
}
.rb-icon-location {
    &:before {
        content: @icon-location;
    }
}
.rb-icon-long-arrow-down-thick {
    &:before {
        content: @icon-long-arrow-down-thick;
    }
}
.rb-icon-long-arrow-down-thin {
    &:before {
        content: @icon-long-arrow-down-thin;
    }
}
.rb-icon-long-arrow-left {
    &:before {
        content: @icon-long-arrow-left;
    }
}
.rb-icon-long-arrow-left-thin {
    &:before {
        content: @icon-long-arrow-left-thin;
    }
}
.rb-icon-long-arrow-right {
    &:before {
        content: @icon-long-arrow-right;
    }
}
.rb-icon-long-arrow-right-thin {
    &:before {
        content: @icon-long-arrow-right-thin;
    }
}
.rb-icon-long-arrow-up-thick {
    &:before {
        content: @icon-long-arrow-up-thick;
    }
}
.rb-icon-long-arrow-up-thin {
    &:before {
        content: @icon-long-arrow-up-thin;
    }
}
.rb-icon-mastercard {
    &:before {
        content: @icon-mastercard;
    }
}
.rb-icon-menu {
    &:before {
        content: @icon-menu;
    }
}
.rb-icon-minus {
    &:before {
        content: @icon-minus;
    }
}
.rb-icon-newsletter-email {
    &:before {
        content: @icon-newsletter-email;
    }
}
.rb-icon-next {
    &:before {
        content: @icon-next;
    }
}
.rb-icon-password {
    &:before {
        content: @icon-password;
    }
}
.rb-icon-paypal {
    &:before {
        content: @icon-paypal;
    }
}
.rb-icon-personal-information {
    &:before {
        content: @icon-personal-information;
    }
}
.rb-icon-pinterest {
    &:before {
        content: @icon-pinterest;
    }
}
.rb-icon-plus {
    &:before {
        content: @icon-plus;
    }
}
.rb-icon-pointer-down {
    &:before {
        content: @icon-pointer-down;
    }
}
.rb-icon-pointer-left {
    &:before {
        content: @icon-pointer-left;
    }
}
.rb-icon-pointer-right {
    &:before {
        content: @icon-pointer-right;
    }
}
.rb-icon-pointer-up {
    &:before {
        content: @icon-pointer-up;
    }
}
.rb-icon-present {
    &:before {
        content: @icon-present;
    }
}
.rb-icon-prev {
    &:before {
        content: @icon-prev;
    }
}
.rb-icon-printer {
    &:before {
        content: @icon-printer;
    }
}
.rb-icon-rating {
    &:before {
        content: @icon-rating;
    }
}
.rb-icon-remove {
    &:before {
        content: @icon-remove;
    }
}
.rb-icon-rupees {
    &:before {
        content: @icon-rupees;
    }
}
.rb-icon-search {
    &:before {
        content: @icon-search;
    }
}
.rb-icon-search2 {
    &:before {
        content: @icon-search2;
    }
}
.rb-icon-sell-withus {
    &:before {
        content: @icon-sell-withus;
    }
}
.rb-icon-setting {
    &:before {
        content: @icon-setting;
    }
}
.rb-icon-star {
    &:before {
        content: @icon-star;
    }
}
.rb-icon-tick {
    &:before {
        content: @icon-tick;
    }
}
.rb-icon-trash {
    &:before {
        content: @icon-trash;
    }
}
.rb-icon-trash2 {
    &:before {
        content: @icon-trash2;
    }
}
.rb-icon-twitter {
    &:before {
        content: @icon-twitter;
    }
}
.rb-icon-up {
    &:before {
        content: @icon-up;
    }
}
.rb-icon-update {
    &:before {
        content: @icon-update;
    }
}
.rb-icon-user2 {
    &:before {
        content: @icon-user2;
    }
}
.rb-icon-visa {
    &:before {
        content: @icon-visa;
    }
}
.rb-icon-warning {
    &:before {
        content: @icon-warning;
    }
}
.rb-icon-wishlist {
    &:before {
        content: @icon-wishlist;
    }
}
    
.rb-icon-favourites {
    &:before {
        content: @icon-wishlist;
    }
}

.rb-icon-wishlist-empty {
    &:before {
        content: @icon-wishlist-empty;
    }
}
.rb-icon-wishlist-full {
    &:before {
        content: @icon-wishlist-full;
    }
}
.rb-icon-write-review {
    &:before {
        content: @icon-write-review;
    }
}
.rb-icon-your-order {
    &:before {
        content: @icon-your-order;
    }
}
.rb-icon-bell {
    &:before {
        content: @icon-bell;
    }
}
.rb-icon-price-subscription {
    &:before {
        content: @icon-price-subscription;
    }
}

.rb-icon-my-account {
    &:before {
        content: @icon-xf-profile;
    }
}
.rb-icon-account-information {
    &:before {
        content: @icon-signac;
    }
}
.rb-icon-orders {
    &:before {
        content: @icon-xf-orders-01;
    }
}
.rb-icon-saved-addresses {
    &:before {
        content: @icon-xf-saved-address;
    }
}
.rb-icon-wish-list {
    &:before {
        content: @icon-xf-wish-list;
    }
}
.rb-icon-store-credit{
    &:before {
        content: @icon-account;
    }
}
.rb-icon-order-by-sku {
    &:before {
        content: @icon-account;
    }
}
.rb-icon-product-reviews {
    &:before {
        content: @icon-account;
    }
}
.rb-icon-reward-points {
    &:before {
        content: @icon-rating;
    }
}
.rb-icon-my-invitations {
    &:before {
        content: @icon-account;
    }
}
.rb-icon-support-tickets {
    &:before {
        content: @icon-account;
    }
}
.rb-icon-quote-requests,
.rb-icon-request-for-quote-rfq,
.rb-icon-request-for-price-rfp {
    &:before {
        content: @icon-xf-ic-quote;
    }
}
.rb-icon-my-refer-code {
    &:before {
        content: @icon-xf-ic-quote;
    }
}
.rb-icon-returns {
    &:before {
        content: @icon-free-easy-return;
    }
}

.rb-icon-truck {
    &:before {
        content: @icon-xf-truck-02;
    }
}

.rb-icon-card {
    &:before {
        content: @icon-xf-card-path2;
    }
}
.rb-icon-protection {
    &:before {
        content: @icon-xf-protection-01-path2;
    }
}
.rb-icon-call24 {
    &:before {
        content: @icon-xf-support-path2;
    }
}
.rb-icon-call-02 {
  &:before {
    content: @icon-call-02;
  }
}
.rb-icon-product-reviews {
  &:before {
    content: @icon-xf-my-product-reviews;
  }
}
.rb-icon-my-invitations {
  &:before {
    content: @icon-invitation;
  }
}
.rb-icon-order-by-sku {
  &:before {
    content: @icon-order-by-sku;
  }
}
.rb-icon-reward-points {
  &:before {
    content: @icon-rewards-02;
  }
}
.rb-icon-store-credit {
  &:before {
    content: @icon-xf-store-credit;
  }
}
.rb-icon-support-tickets {
  &:before {
    content: @icon-xf-my-support-tickets;
  }
}

.rb-icon-product-reviews {
  &:before {
    content: @icon-xf-my-product-reviews;
  }
}
.rb-icon-support-tickets {
  &:before {
    content: @icon-xf-my-support-tickets;
  }
}
.rb-icon-xf-next {
  &:before {
    content: @icon-xf-next;
  }
}
.rb-icon-xf-previous {
  &:before {
    content: @icon-xf-previous;
  }
}
.rb-icon-xf-phone {
  &:before {
    content: @icon-xf-phone;
  }
}
.rb-icon-xf-store-credit {
  &:before {
    content: @icon-xf-store-credit;
  }
}
.rb-icon-referral-code {
    &:before {
        content: @icon-xf-store-credit;
    }
}
.rb-icon-mobile-phone {
    &:before {
        content: @icon-mobile-phone;
    }
}
.rb-icon-company-profile{
    &:before{
        content: @icon-company-profile;
    }
}
.rb-icon-my-requisition-lists{
    &:before{
        content: @icon-my_lists;
    }   
}
.rb-icon-company-structure{
    &:before{
        content: @icon-company_structure;
    }   
}
.rb-icon-company-users{
     &:before{
        content: @icon-company_users;
    }   
}
.rb-icon-roles-and-permissions{
     &:before{
        content: @icon-user_roles_permissions;
    }   
}
.rbtheme-icon-youtube{
     &:before{
        content: @icon-youtube;
    }   
}
.rbtheme-icon-facebook3{
     &:before{
        content: @icon-facebook3;
    }   
}
.rbtheme-icon-twitter2{
     &:before{
        content: @icon-twitter2;
    }   
}
.rbtheme-icon-linkedin{
     &:before{
        content: @icon-linkedin;
    }   
}
.rbtheme-icon-youtube{
     &:before{
        content: @icon-youtube;
    }   
}
.rbtheme-icon-mob-chat{
     &:before{
        content: @icon-mob-chat;
    }   
}
.rb-icon-company-credit {
    &:before {
        content: @icon-company_credit;
    }
}
.rbtheme-icon-rupees{
     &:before{
        content: @icon-rupees;
    }   
}
.rbtheme-icon-referral{
     &:before{
        content: @icon-referral;
     }
}
.rb-icon-payment-history{
     &:before{
        content: @icon-xf-my-payment-history;
    }
}
.rb-icon-exp-time{
    &:before{
       content: @icon-exp-time;
   }
}
.rb-icon-coupon_copy{
    &:before{
       content: @icon-coupon_copy;
   }
}
.rb-icon-lightbulb{
    &:before{
       content: @icon-lightbulb;
   }
}
.rb-icon-rewards{
    &:before{
       content: @icon-rewards;
   }
}
.rb-icon-offers{
    &:before{
       content: @icon-offers;
   }
}
.rb-icon-testimonialicon{
    &:before{
       content: @icon-testimonial;
   }
}
.rb-icon-edit{
    &:before{
       content: @icon-edit;
   }
}

.rb-icon-light-bulb{
    &:before{
       content: @icon-light-bulb;
   }
}

.rb-icon-image{
    &:before{
       content: @icon-image;
   }
}

.rb-icon-link{
    &:before{
       content: @icon-link;
   }
}


