/*****************************************
************** MIXIN START HERE **********
******************************************/

.position{
    position: relative;
    float: left;
    width: 100%;
}

.boxShadow{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

/*****************************************
********** FUNCTIONS START HERE **********
******************************************/

.fontSize(@val){
    font-size: @val;
}

.fontWeight(@val){
    font-weight:(@val);
}

.padding4(@val1, @val2, @val3, @val4){
    padding: @val1 @val2 @val3 @val4;
}

.paddingLeft(@val){
    padding-left: @val;
}

.paddingRight(@val){
    padding-right: @val;
}

.paddingTop(@val){
    padding-top: @val;
}

.paddingBottom(@val){
    padding-bottom: @val;
}

.padding2(@val1, @val2){
    padding: @val1 @val2;
}

.padding(@val){
    padding: @val;
}

.margin4(@val1, @val2, @val3, @val4){
    margin: @val1 @val2 @val3 @val4;
}

.marginLeft(@val){
    margin-left: @val;
}

.marginRight(@val){
    margin-right: @val;
}

.marginTop(@val){
    margin-top: @val;
}

.marginBottom(@val){
    margin-bottom: @val;
}

.margin2(@val1, @val2){
    margin: @val1 @val2;
}
.margin(@val){
    margin: @val;
}

.border(@val1, @val2){
    border: @val1 solid @val2;
}

.border0(@val){
    border: @val;
}

.borderLeft(@val1, @val2){
    border-left: @val1 solid @val2;
}

.borderRight(@val1, @val2){
    border-right: @val1 solid @val2;
}

.borderTop(@val1, @val2){
    border-top: @val1 solid @val2;
}

.borderBottom(@val1, @val2){
    border-bottom: @val1 solid @val2;
}

.borderRadius(@val){
    border-radius: @val;
}

.positionAbsolute(@val1, @val2, @val3, @val4, @val5, @val6){
    position:absolute;
    content: "";
    left: @val1;
    right: @val2;
    top: @val3;
    bottom: @val4;
    width: @val5;
    height: @val6;
}

.transitionMixin(@val1, @val2){
    transition: all @val1 @val2;
    -webkit-transition: all @val1 @val2;
    -moz-transition: all @val1 @val2;
    -o-transition: all @val1 @val2;
    -ms-transition: all @val1 @val2;
}

.transformMixin(@val){
    transform: @val;
    -webkit-transform: @val;
    -moz-transform: @val;
    -ms-transform: @val;
    -o-transform: @val;
}

.opacityMixin(@val){
    opacity: @val;
}

.textAlign(@val){
    text-align: @val
}

.widthMixin(@val){
    width: @val;
}

.textTransform(@val){
    text-transform: @val;
}

.lineHeight(@val){
    line-height: @val;
}

.display(@val){
    display: @val;
}

.height(@val){
    height: @val;
}

.minHeight(@val){
    min-height: @val;
}

.maxHeight(@val){
    max-height: @val;
}

.minWidth(@val){
    min-width: @val;
}

.maxWidth(@val){
    max-width: @val;
}

.overFlow(@val){
    overflow: @val;
}

.background(@val){
    background: @val;
}

.float(@val){
    float: @val;
}

.ulMixin(@val1, @val2, @val3){
    list-style-type: @val1;
    padding: @val2;
    margin: @val3;
}

.listStyleType(@val){
    list-style-type: @val;
}

.textDecoration(@val){
    text-decoration: @val;
}

.zIndex(@val){
    z-index: @val;
}

.letterSpacing(@val){
    letter-spacing: @val;
}
