/************************************
********** IMPORTS ******************
************************************/
@import "variables";
@import "mixins";

/************************************
********** LESS START HERE **********
************************************/

    body{
        .fontSize(14px);
        font-family: @fontFamily;
    }

     .text-module {
           .position();
            .margin2(20px,0px);
            .display(none);
     }

    .slider-sec,
    .register-form{
        .position();

        .carousel .item {
            .paddingBottom(0px) !important;
        }
    }
    .common-space {
        .margin2(20px,0px);
    }

    .students-sec{
        .position();
        height:110px;
        overflow-y:scroll;
    }
    .text-module{
         .form-control {
            .border0(0px);
            box-shadow: none;
            .borderBottom(1px, #ccc);
            .borderRadius(0px);
            .paddingLeft(0px);
                &:focus{
                    box-shadow: none;
                    .borderBottom(2px, #7b7bad);
                }
         }
    }


    textarea {
      resize: none;
    }

    .register-form {

        .margin2(30px,0px);

        .md-form{
            .marginBottom(30px);
            .marginTop(0px);
        }
        .md-form label{
            .fontSize(13px);
            font-weight: normal;
            top: -6px;
        }
        .md-form label.active {
            .fontSize(15px);
            font-weight: normal;
            top: -3px;
        }

        .md-form input{
            color: #4a4a4a;
            .fontSize(14px);
        }
        .btn{
            .fontSize(14px);
            background: #7b7bad !important;
            .padding2(10px,30px);
            outline: none;
            .borderRadius(5px);

                &:focus{
                    color: #fff; outline: none;
                }
        }
        .form-container {
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
            .padding2(30px,20px);
            .borderRadius(5px);
            .borderTop(5px, #7b7bad);
        }
        .md-form input[type="text"]:not(.browser-default):focus:not([readonly]){
            .borderBottom(1px, #7b7bad);
            box-shadow: 0 1px 0 0 #7b7bad;
        }
        .md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label{
            color:#7b7bad;
        }
    }

    .slider-sec{
        .slick-slider{
            .marginBottom(0px) !important;
            .slick-dots {
                .margin(0px);
                .textAlign(center);
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 10px;

                li{
                    width: 1px;
                    height: 20px;
                }
                button {
                    background: 0 0;
                    float: left;
                    width: 8px;
                    height: 8px;
                    .borderRadius(100%);
                    text-indent: -99999px;
                    .border(1px,#fff);
                    .padding(0px);
                    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.8);
                    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,.8);

                    &:before{
                        .display(none);
                    }
                }
                li.slick-active button {
                    background: #b41e27;
                }
            }
            .slick-arrow {
                color: @xf-color-white;
                .margin(0px);
                .padding(0px);
                cursor: pointer;
                width: 24px;
                position: absolute;
                height: 24px;
                .zIndex(2);
                .marginTop(-15px);
                top: 50%;
                background: rgba(0, 0, 0, 0.6);
                .borderRadius(6px);
                border: none;

                &:before {
                    content: @icon-prev;
                    font-family: 'rbtheme-icon';
                    .margin(0px);
                    .fontSize(14px);
                    .lineHeight(14px);
                }
            }
            .slick-arrow.slick-prev {
                left: 0;
            }
            .slick-arrow.slick-next {
                right: 0;

                &:before{
                    content: @icon-next;
                }
            }
        }
        /* Slick slider close */


        .topbar-promotion{
            p{
                img{ width:100%; }
            }
            p:last-child{
                .marginBottom(0px);
            }
        }
    }

    .tabs-ses {
        .position();

        ul.nav-tabs{
            text-align: center;
            .margin(0px);

            li.nav-item{
                float:none;
                display:inline-block;
                zoom:1;
                .marginRight(-4px);

                a.nav-link{
                    .padding2(6px,15px);
                    .margin(0px);
                    background: none;
                    color: #404041;
                    .border(1px, #ccc);
                    .borderRadius(0px);

                    &:hover{
                        color: #fff;
                        .border(1px, #d83936);
                        transition: all .4s;
                        background-color: rgb(216, 57, 54);
                    }
                }

                &:first-child{
                    a{
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                    }
                }
                &:last-child{
                    a{
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                    }
                }
            }

            li.active > a,
            li.active > a:hover,
            li.active > a:focus{
                background: #d83936 !important;
                .border(1px, #d83936) !important;
                color:#fff !important;
            }



        }
        .tab-content{
            clear:both;
            .position();
            .paddingTop(10px);

            .products-wrapper{
                .position();

                ol.products-container{
                    .position();
                    list-style-type: none;
                    .padding(0px);
                    .margin(0px);

                    li {
                        .widthMixin(20%);
                        display: inline-block;
                        float: left;
                        .textAlign(center);
                        .marginBottom(20px);

                        a{
                            .position();

                            img{
                                .borderRadius(6px);
                                .marginBottom(5px);
                                .transitionMixin(0.5s, ease-in);
                                    &:hover {
                                        .boxShadow();
                                    }
                            }
                        }
                        .title-container{
                            color: @xf-color-gray;
                        }
                    }
                    li:hover .title-container{
                        color: @xf-color-red;
                    }
                }
            }
        }




    }

/************************************
******** FOOTER START HERE **********
************************************/
.custom-footer{

    background: @xf-color-gray;
    .borderTop(3px, @xf-color-red);

    .footer-upper-wrapper {
        .position();
        clear: both;

        .footer-upper-section {
            .padding2(15px, 0px);
            clear: both;

            .connect-with-us{
                .block.newsletter {
                    .marginBottom(30px);

                    .title {
                        display: none;
                    }
                    .form.subscribe {
                        display: table;
                        width: 100%;
                    }
                    .field .control {
                        display: block;
                        .padding(0px);
                    }
                    input#newsletter {
                        height: 32px;
                        -webkit-border-radius: 6px 0px 0px 6px;
                        -moz-border-radius: 6px 0px 0px 6px;
                        border-radius: 6px 0 0 6px;
                        .padding(10px);
                    }
                    .actions {
                        .padding(0px);
                        .action.subscribe {
                            background: @xf-color-red;
                            .border(2px, @xf-color-red);
                            cursor: pointer;
                            .display(inline-block);
                            .padding2(0px, 8px);
                            color: #fff;
                            width: 100%;
                            .textTransform(uppercase);
                            .lineHeight(28px);
                            -webkit-border-radius: 0 6px 6px 0;
                            -moz-border-radius: 0 6px 6px 0;
                            border-radius: 0 6px 6px 0;
                        }
                    }
                }
                .label {
                    .display(inline-block);
                    vertical-align: middle;
                    .fontSize(15px);
                    .marginRight(10px);
                    color: #fff;
                    .opacityMixin(0.8);
                    .fontWeight(normal);
                    .padding(0px);
                }
            }
            .downloadourapp{
                .marginBottom(15px);

                a {
                    .display(inline-block);
                    vertical-align: middle;
                    .fontSize(14px);
                    .marginRight(10px);
                    color: #fff;
                    .textTransform(uppercase);
                    img {
                        vertical-align: middle;
                        .marginLeft(4px);
                    }
                }
            }

            .connectsocial {
                .marginBottom(15px);
                .display(inline-block);
                .fontSize(15px);
                color: #dcdcdc;

                a {
                    .marginRight(3px);
                    .display(inline-block);
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                a:first-child {
                    margin-left: 5px;
                }
                .social-links{
                    .fontSize(30px);
                    .lineHeight(30px);
                    color: @xf-color-white;
                    font-family: @icons-font-name;
                    .display(inline-block);
                    vertical-align: middle;
                }
                .social-facebook:before {
                    .social-links();
                    content: @icon-facebook3;
                }
                .social-twitter:before {
                    .social-links();
                    content: @icon-twitter2;
                }
                .social-linkedin:before {
                    .social-links();
                    content: @icon-linkedin;
                }
                .social-youtube:before {
                    .social-links();
                    content: @icon-youtube;
                }
            }

            .payment-accepted {
                .marginBottom(25px);
                img {
                    .display(inline-block);
                    vertical-align: middle;
                    width: 200px;
                }
            }

            .footer-links-heading {
                .fontSize(18px);
                .marginBottom(10px);
                color: #b3b3b3;
            }

            .footer-mobile-content {
                    list-style-type: none;
                    .padding(0px);

                    li {
                        margin: 0 0 6px;
                        .fontSize(14px);
                        a {
                            color: #fff;
                            .opacityMixin(0.5);
                            .display(inline-block);

                            &:hover{
                                .opacityMixin(1);
                                .transitionMixin(0.5s, ease-in);
                                .transformMixin(translateX(10px));
                            }
                        }
                    }
            }

             .categoryContainerFooter {

                .fontSize(12px);
                .marginBottom(8px);
                .lineHeight(normal);

                .categoryValueFooter {
                    .display(inline-block);

                    .footerSubCategoriesUl {
                        .display(inline-block);
                        .margin(0px);
                        list-style: none;
                        .padding(0);

                        li.footerSubCategory {
                            .display(inline-block);
                            .margin(0px);
                            list-style: none;

                            a {
                                color: #fff;
                                .opacityMixin(0.5);

                                &:hover{
                                    .opacityMixin(1);
                                }
                            }

                            .seperator {
                                color: #fff;
                                .opacityMixin(0.5);
                            }
                        }

                    }
                }
            }
        }
        .popular-search-container{
            .position();
            .borderTop(1px, #ccc);

            .popular-search-heading {
                .fontSize(16px);
                .marginBottom(5px);
                color: #b3b3b3;
            }
        }
    }

    .footer-lower-wrapper {
        clear: both;
        background-color: #303032;
        .borderTop(1px, #707072);
        .footer-copyright-container {
            .padding2(10px,0px);
            .textAlign(center);
             color: #fff;
        }
    }

}

/************************************
******** HEADER START HERE **********
************************************/

.custom-header{
        .top-infobar {
            background: #e4e4e4;
            .borderBottom(2px, #fff);
            .textAlign(right);

            ul {
                .margin(0px);

                li {
                    .display(inline-block);
                    vertical-align: top;
                    .padding2(5px, 0px);
                    list-style: none;
                    margin: 0 0 0 16px;
                    .fontSize(12px);

                    i {
                        vertical-align: sub;
                        .marginRight(4px);
                        .marginTop(-1px);
                        .fontSize(16px);
                    }

                    a {
                        text-decoration: underline;
                        cursor: pointer;
                        color:@xf-color-gray;
                        &:hover{
                            color:@xf-color-red;
                        }
                    }

                    i.fa-phone {
                        color: #ff8f00;
                    }

                    i.fa-mobile-phone {
                        color: #db262c;
                        .marginRight(6px);
                        .fontSize(18px);
                    }
                }
            }

        } //topbar

        .navbar-default{
            box-shadow: none !important;
            .border0(0px);
            .marginBottom(0px);

            .navbar-header {
                width: 20%;
                .navbar-brand{
                    .padding2(0px,15px);
                    img{
                        width: 200px;
                    }
                }
            }
            ul.nav.navbar-nav {
                width: 45%;
            }
            .navbar-right{
                 width: auto !important;

                li{
                    a{
                        .fontSize(12px);
                        color: @xf-color-gray !important;
                        .paddingRight(0px);
                        &:hover{
                            color:@xf-color-red !important;
                        }
                    }
                }
                .headerIcons{
                    font-size: 20px;
                    font-family: @icons-font-name;
                    color: @xf-color-gray;
                    .fontWeight(400);
                    vertical-align: top;
                    .display(inline-block);
                }
                .authorization-link a:before {
                    .headerIcons();
                    content: "\e938";
                    color: @xf-color-red;
                    padding: 0 2px;
                }
                .minicart-wrapper .action.showcart:before {
                    .headerIcons();
                    content: "\e92e";
                }
                .miniquote-wrapper .action.showquote:before {
                    .headerIcons();
                    content: "\e92c";
                }
                .authorization-link a:hover:before,
                .miniquote-wrapper .action.showquote:hover:before,
                .minicart-wrapper .action.showcart:hover:before {
                    color: #da2128;
                }
                .miniquote-wrapper .action.showquote .text,
                .minicart-wrapper .action.showcart .text,
                 .authorization-link .text{
                    .fontSize(12px);
                    .marginLeft(5px);
                    .display(inline-block);
                    vertical-align: middle;
                }
                .minicart-wrapper .action.showcart .counter.qty {
                    color: @xf-color-red;
                    .height(16px);
                    .lineHeight(15px);
                    .borderRadius(50%);
                    .display(inline-block);
                    .minWidth(16px);
                    .overFlow(hidden);
                    .padding(0px);
                    .textAlign(center);
                    .margin(0px);
                    .border(1px, #db272e);
                    position: absolute;
                    left: 26px;
                    top: 9px;
                    .fontSize(9px);
                    background: @xf-color-white;
                }
            }

            .block-search {
                .padding4(3px, 0px, 0px, 0px);
                .zIndex(11);
                position:relative;
                .display(inline-block);
                vertical-align: top;
                .widthMixin(100%);
                .block-title,
                 .label{
                    .display(none);
                }
                .block-content {
                    position:relative;
                    .marginBottom(0px);
                    .control{
                        .border0(0px);
                        .margin(0px);
                        .padding(0px);
                        position:relative;
                        input {
                            .margin(0px);
                            .fontSize(13px);
                            .height(32px);
                            border-color: #acacac;
                            .widthMixin(100%);
                            .border(1px, #acacac);
                            .borderRadius(6px);
                        }
                        #search_autocomplete {
                            .display(none) !important;
                            .height(0px) !important;
                            .overFlow(hidden)!important;
                        }
                    }
                    a.advanced-search {
                        position: relative;
                        float: right;
                        color: #da2128;
                        font-weight: bold;
                    }
                }
                .action.search {
                    .border0(0px);
                     position: absolute;
                     right: 0;
                     top: 0px;
                     .zIndex(1);
                     width: 48px;
                     height: 32px;
                     background: none;

                    &:before{
                        content: '';
                        width: 1px;
                        height: 22px;
                        left: 0px;
                        top: 5px;
                        position: absolute;
                        .background(#9f9fa0);
                    }

                    &:after{
                        .fontSize(19px);
                        .lineHeight(normal);
                        color: @xf-color-red;
                        font-family: @icons-font-name;
                        content: @icon-search;
                        vertical-align: top;
                        overflow: hidden;
                    }
                    span{
                        .overFlow(hidden);
                        .padding(0px);
                        position:absolute;
                        .widthMixin(1px);
                    }
                }


            }
        } //default nav

        .sections.nav-sections {
            background: @xf-color-gray;
            color: @xf-color-white;
            position: relative;
            .minHeight(35px);

                .construction-menu-items-container,
                .industrial-menu-items-container{
                    .position();
                }

                .category-switcher {
                    .borderTop(1px, @xf-color-black);
                    .borderBottom(1px, @xf-color-black);
                        display: inline-block;
                        vertical-align: top;
                        width: 15.6%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 9;

                    span {
                        background: #ececec;
                        .padding4(0,18px,0,12px);
                        .lineHeight(34px);
                        .display(block);
                        color: @xf-color-gray;
                        .textTransform(uppercase);
                    }
                        

                    .category-dropdown {
                        position: absolute;
                        z-index: 999;
                        width: 100%;
                        .display(none);
                    }

                    span.menu-dropdown-category-construction.selected,
                    span.menu-dropdown-category-industrial.selected {
                        position:relative;
                        &:after {
                            font-family: 'FontAwesome';
                            content: "\f107";
                            float: right;
                        }
                    }
                }


            .nav-items-container {
                position: relative;
                float: left;
                width: 100%;

                    ul.construction-nav-items,
                    ul.industrial-nav-items{
                        list-style-type: none;
                        .padding(0px);
                        .margin(0px);
                        .position();
                        .paddingLeft(15.6%);

                        li.nav-item{
                            float: left;
                            .padding2(0px, 11px);
                            cursor:pointer;

                            a{
                                color:#e6e6e6;
                                .lineHeight(35px);
                                .display(block);

                                span.title{
                                    position:relative;
                                }
                            }
                        }
                        li.nav-item:first-child{
                            .paddingLeft(32px) !important;
                        }

                        li.nav-item:hover span.title:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            right: 0;
                            height: 2px;
                            background: #da2128;
                            bottom: -8px;
                        }

                    }

                    ul.dropdown-menu.mega-dropdown-menu.submenu {
                        width: 100%;
                        color: @xf-color-black;
                        box-shadow: 0 3px 5px rgba(0,0,0,.19);
                        background: #fff;
                        top: 36px;
                        .border0(0px);
                        .fontSize(12px);
                        .fontWeight(400);
                        min-width: 230px;
                        .margin(0px);
                        .padding(0px);

                        // Submenu Dropdown Styles start
                        .xf-custom-column-container{
                            .background(#f9f9f9);
                            .maxHeight(560px);
                            overflow: auto;
                            .margin(0px);
                            box-shadow: none;
                            -webkit-box-shadow: none;
                            color: @xf-color-gray;
                            .padding(10px);
                            &:hover{cursor: default;}

                            ol.xf-custom-column {
                                .listStyleType(none);
                                .float(left);
                                .widthMixin(20%);
                                .margin(0px);
                                .padding(0px);

                                li{
                                    a{
                                        color: @xf-color-gray;
                                         .fontSize(13px);
                                         .lineHeight(25px);
                                         &:hover{
                                            color: @xf-color-red;
                                         }
                                    }
                                }
                                li.level2 {
                                    position: static !important;
                                    .margin(0px);
                                    .padding(0px);
                                    a {
                                        .fontSize(14px);
                                        .fontWeight(700);
                                        .textTransform(uppercase);
                                        padding: 5px 11px 2px;
                                        color: @xf-color-gray;
                                        .paddingLeft(0px);
                                        &:hover{
                                            color: @xf-color-red;
                                        }
                                    }
                                }
                                li.level3.view-all {
                                    .margin2(4px,0px);
                                    a {
                                        text-decoration: underline;
                                        .fontWeight(700);
                                        &:hover{
                                            color:@xf-color-red;
                                        }
                                    }
                                }

                            }
                            .xf-custom-column.submenu-title .level2 {
                                .fontSize(14px);
                                .fontWeight(700);
                                .textTransform(uppercase);
                                .padding(0px);
                            }
                            .xf-custom-column.column-5 {
                                .borderLeft(1px,#9f9f9f);
                                box-sizing: border-box;
                                .padding(10px);
                                .block-title {
                                .fontSize(14px);
                                .textTransform(uppercase);
                                    padding: 5px 11px 2px;
                                }
                                .item {
                                    .borderBottom(1px, #ebebeb);
                                    .paddingBottom(10px);
                                    .marginBottom(10px);
                                    .product{
                                        .product-item-photo {
                                            .display(inline-block);
                                            vertical-align: top;
                                            float: left;
                                            img {
                                            .border(1px, #ebebeb);
                                            .borderRadius(6px);
                                            }
                                        }
                                        .product-details {
                                            .display(block);
                                            .paddingLeft(90px);
                                            strong {
                                                .display(inline-block);
                                                .marginBottom(8px);
                                                .fontWeight(400);
                                                .lineHeight(18px);
                                            }
                                        }
                                        a { .padding(0); }
                                    }

                                }
                                .item.see-more {
                                    border-bottom: none;
                                    .paddingBottom(0px);
                                    .marginBottom(0px);
                                    a {
                                        .padding(0);
                                        .textDecoration(underline);
                                        .fontWeight(700);
                                    }
                                }
                            }


                         }
                        //Submenu Dropdown styles end


                    } //Submenu end
            }
            .dropup, .dropdown{
                position: initial !important;
            }

        } //Section.navsections end












} //custom header close



/*************************************
***** POPUPS CODE START HERE *********
**************************************/

// SignIn & SignUp Form code

#social-login-popup{
    .modal-content {
        border-radius: 6px 6px 0px 0px !important;
        box-shadow: none !important;
    }
    .modal-header {
        background: #f5f5f5;
        border-radius: 6px 6px 0px 0px !important;
        .position();

        .login-title {
            .widthMixin(50%);
            color: @xf-color-gray;
            .display(inline-block);
            float: left;
        }
        h2 {
            .fontSize(21px);
            .textTransform(capitalize);
            .fontWeight(normal);
            .margin(0px);
            .letterSpacing(1px);
            color: @xf-color-gray;
            .display(inline-block);
        }
        h2.sign-up-title:before {
            content: "|";
            .marginLeft(-5px);
            .paddingRight(5px);
            .fontSize(22px);
            color: #cbcbcb;
        }
    }
}



/*************************************
***** MEDIA QUERIES START HERE *******
**************************************/

    @media only screen and (min-width:320px) and (max-width:767px){
        .tabs-ses{
            .tab-content{
                ol.products-container{
                    li{
                        .widthMixin(48%) !important;
                        .marginRight(2%);

                        img{
                            .widthMixin(100%);
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width:767px){
        .main-banner{
            /* .paddingRight(0px); */
        }
        .topbar-promotion{
            .paddingLeft(0px);
        }
    }



