// Variables
@xf-color-red : #da2127;
@xf-color-gray : #404041;
@xf-color-gray-light : #e4e4e4;
@xf-color-white : #fff;
@xf-color-black : #000;

@font-face {
  font-family: 'rbtheme-icon';
  src: url('/school/static/fonts/rbtheme-icon.eot'); /* IE9 Compat Modes */
  src: url('/school/static/fonts/rbtheme-icon.eot?#iefix') format('embedded-opentype'), /* IE7-IE8 */
       url('/school/static/fonts/rbtheme-icon.woff2') format('woff2'), /* Super Modern Browsers */
       url('/school/static/fonts/rbtheme-icon.woff') format('woff'), /* Pretty Modern Browsers */
       url('/school/static/fonts/rbtheme-icon.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/school/static/fonts/rbtheme-icon.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Tondo-Regular';
    src: url('/school/static/fonts/tondo/Tondo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */


}


@font-face {
	    font-family: 'tondolight';
	    src: url('/school/static/fonts/tondo/tondo_std_lt-webfont.woff2') format('woff2'),
	         url('/school/static/fonts/tondo/tondo_std_lt-webfont.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;

	}

@icons-font-name: 'rbtheme-icon';
@fontFamily: 'tondolight';

